language: python
python:
    - "3.7-dev"  # TODO: change to "3.7" when this is resolved: https://github.com/travis-ci/travis-ci/issues/9815

install: pip install pipenv && pipenv install --dev

script:
    - pipenv run flake8 caravan_bot
    - pipenv run mypy --ignore-missing-imports caravan_bot
    - pipenv run py.test caravan_bot/tests
