[requires]
python_version = "3.7"

[packages]
"discord.py" = { git = "https://github.com/Rapptz/discord.py.git", ref = "rewrite" }
"docopt" = { version = "*" }
"haversine" = { version = "*" }
"fuzzywuzzy" = { version = "*", extras = ["speedup"] }
"inflection" = { version = "*" }

[dev-packages]
pytest = "*"
mypy = "*"
flake8 = "*"
